<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 青羊楼宇经济信息网</title>
    <link href="http://182.150.46.198:8710/Content/base.css?version=@DateTime.Now.ToString("HHmmss")" rel="stylesheet" type="text/css" media="screen" />
    <link href="http://182.150.46.198:8710/Content/style.css?version=@DateTime.Now.ToString("HHmmss")" id="style_style" rel="stylesheet" type="text/css" media="screen" />
    <script src="http://182.150.46.198:8710/Scripts/jquery.js" type="text/javascript"></script>
    <script src="http://182.150.46.198:8710/Scripts/jquery.SuperSlide.js" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
</body>
</html>

