@{
    ViewBag.Title = "青羊欢迎您。";
    Layout = "~/Views/Shared/_LeadPage.cshtml";
    Page.CheckApp = false;
}
    <!-- nav start -->
    <div class="nav_wrap2"></div>
    <div class="clearfix w1200 m0a nav2 tc">
        <ul class="nav_list2 clearfix di">
            <li class="fl">
                <a href="http://182.150.46.198:8710/Home/Index">首页</a>
            </li>
            <li class="fl">
                <a href="http://182.150.46.198:8710/SpecialQY/Index">魅力青羊</a>
            </li>
            <li class="fl">
                <a href="http://182.150.46.198:8710/BuildingInformation/Index">楼宇资讯</a>
            </li>
            <li class="fl">
                <a href="http://182.150.46.198:8710/Buildings/Index">楼宇展示</a>
            </li>
            <li class="fl">
                <a href="http://182.150.46.198:8710/Rental/Index">楼宇租售</a>
            </li>
            <li class="fl">
                <a href="http://182.150.46.198:8710/Map/Map">楼宇地图</a>
            </li>
        </ul>
    </div>
    <!-- nav end -->
    <!-- content start -->
    <div class="content_s">
        <img src="http://182.150.46.198:8710/Images/special.jpg">
    </div>
    <!-- content end -->
    <!-- footer start-->
    <div class="footer_wrap_s">
        <p class="copyright2 tc">Copyright ©2016 xxxxxxxx, All Rights Reserved. 蜀ICP备150300000号</p>
    </div>
    <!-- footer end-->
